*
{
    /*Reset anything that would throw off our layout math*/
    margin: 0; padding: 0;
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: 35px;
}

body, html
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*Center the #positioningWrapper*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

:focus
{
    outline: solid 5px red;
    border-radius: 3px;
    z-index: 100000;
}

#positioningWrapper
{
    width: 0;
    height: 0;
    position: absolute;
}

#gameContainer
{
    position: relative;
    transform-origin: center;
    width: 1920px;
    /*The authored height of all of our enclosed elements*/
    height: 1080px;
    /*Half of authored sizing. Centers #gameContainer onto #positioningWrapper*/
    left: -960px;
    top: -540px;
    /*Javascript sets the scaling*/
    transform: scale(0);
}

#screenReaderOnly
{
    /*"Hide" the announcer element*/
    position: fixed;
    height: 1px;
    width: 1px;
    overflow: hidden;
    opacity: 0;
    user-select: none;
    z-index: -1000;
}

.hidden
{
    /*Hides modals until we need them*/
    display: none !important;
}

.modal
{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    z-index: 100;
}

#mainTitle
{
    color: white;
    padding-top: 100px;
    font-size: 500%;
    text-align: center;
    text-shadow: 0 0 20px blue,
    0 0 40px rebeccapurple,
    0 0 40px rebeccapurple;
}

@media screen and (max-width: 768px)
{
    #mainTitle
    {
        margin-top: 200px;
        font-size: 300%;
    }

    p
    {
        font-size: 150%;
    }
}

#backgroundImage
{
    background-image:url("../assets/images/stars-in-the-night-sky.jpg");
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -100;
}

#testP
{
    font-family: monospace;
}